body
{
    margin:0px;
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size:12px;
    width:300px;
    height:110px;
}
table
{
    font-size:12px;
}

.textBox
{
    font-size: 12px;
    font-weight:normal;
}
a
{
    color:#0066cc;
    text-decoration:none;
}
a:hover
{
    color:#3399ff;
    text-decoration:underline;
}
